$font: "Nunito", sans-serif;

$col-white: #fff;
$col-black: #000;

//dark colors

$col-dark: #121212;
$col-dark-2: #1b1b1b;
$col-dark-3: #383838;

//primary colors

$col-primary: #ff9d00;
$col-primary-2: #e78f00;

//secondary
$col-secondary: #00c267;
$col-secondary-2: #cfecff;
